# 16

In [ ]:
for i in range(100):
    print("Hello, Warld!")

Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!
Hello, Warld!

# 24

In [ ]:
2 + 2

4

In [ ]:
2 - 2

0

In [ ]:
4 / 2

2.0

In [ ]:
2 * 2

4

In [ ]:
b = 100
b

100

In [ ]:
x = 100
x

x = 200
x

200

In [ ]:
x = 10
y = 10
z = x + y
z

20

In [ ]:
a = x - y
a

0

In [ ]:
x = 10
x = x + 1
x

11

In [ ]:
x = 10
x = x - 1
x

9

# 27 インクリメント(増加)、デクリメント(減少)

In [ ]:
x = 10
x += 1
x

11

In [ ]:
x = 10
x -= 1
x

9

In [ ]:
x = 10
x = 1
x

1

In [ ]:
x = 10
x =+ 1
x

1

In [ ]:
x = 10
x =- 1
x

-1

## 40

In [ ]:
x = 2
if x == 2:
    print("数値は２です")
if x % 2 == 0:
    print("数値は偶数です")
if x % 2 != 0:
    print("数値は奇数です")

数値は２です
数値は偶数です

In [ ]:
x = 10
y = 11

if x == 10:
    if y == 11:
        print(x + y)

21

# 41 elifの使い方

In [ ]:
home = "タイ"

if home == "日本":
    print("Hello,Japan!")
elif home == "タイ":
    print("Hello, Thailand!")
elif home == "インド":
    print("Hello, India")
elif home == "中国":
    print("Hello, China!")
else:
    print("Hello, World!")

Hello, Thailand!

In [ ]:
#遊び
home = ["タイ", "インド"]

if home == "日本":
    print("Hello,Japan!")
if home == "タイ":
    print("Hello, Thailand!")
if home == "インド":
    print("Hello, India")
if home == "中国":
    print("Hello, China!")

if home == ["タイ", "インド"]:
    print("タイインド")

else:
    print("Hello, World!")

print(home)

タイインド
['タイ', 'インド']

In [ ]:
#遊び
x = 2
if x % 2 != 0:
    print("数値は奇数です")
elif x == 2:
    print("数値は２です")
elif x % 2 == 0:
    print("数値は偶数です")

数値は２です

# 42

In [ ]:
x = 100

if x == 10:
    print("10!")
elif x == 20 :
    print("20!")
else:
    print("わかりません!")

if x == 100:
    print("xは100!")

if x % 2 == 0:
    print("xは偶数!")

わかりません!
xは100!
xは偶数!

## 48 チャレンジ問題！！

In [ ]:
# Q1

print("プログラミング", "英語", "人格")

プログラミング 英語 人格

In [ ]:
# Q2

x = 15

if x < 10:
    print("この値は10未満です。")
if x >= 10:
    print("この値は10以上です。")

この値は10以上です。

In [ ]:
# Q2 else使いのウィズ

x = 10

if x < 10:
    print("この値は10未満です。")
else:
    print("この値は10以上です。")

この値は10以上です。

In [ ]:
# Q3
# 初回のミス解答
x = 10

if x <= 10:
    print("この値は10以下です。")
if x > 10 and x <= 25:
    print("この値は10より大きく、25以下です")
else:
    print("この値は25より大きです")

この値は10以下です。
この値は25より大きです

In [ ]:
# Q3 ifとelseのみで作ったコード
x = 100

if x <= 10:
    print("この値は10以下です。")
else:
    if x > 10 and x <= 25:
        print("この値は10より大きく、25以下です")
    else:
        print("この値は25よりおおきです。")

この値は25よりおおきです。

In [ ]:
# Q3 if,elif,else全部のせ、これが読みやすく一般的な書き方

x = 111

if x <= 10:
    print("この値は１０以下だ。")
elif x > 10 and x <=25:
    print("この値は１０より大きく、２５以下だ。")
else:
    print("25以上ですね。")

25以上ですね。

In [ ]:
# Q3の答え

x = 11

if x <= 10:
    print("x is less than or equal to 10.")
elif x <= 25:
    print("x is greater than 10, but less than or equal to 25.")
else:
    print("x is greater than 25.")

x is greater than 10, but less than or equal to 25.

In [ ]:
# Q4

10 % 3

1

In [ ]:
# Q5

10 // 3

3

In [ ]:
# Q6

age = 26

if age <= 4:
    print("your, 幼年！")
elif age >= 5 and age <= 14:
    print("your, 少年")
elif age >= 15 and age <= 24:
    print("your, 青年")
elif age >=25 and age <= 44:
    print("your, 壮年")
elif age >=45 and age <= 64:
    print("お前は中年")
else:
    print("あなたは高年です。。。")

your, 壮年

In [ ]:
# Q6 先生の答え
age = 100
retirement = age - 65

if retirement < 10:
    print("You get to retire soon.もうすぐ引退だ")
else:
    print("You have a long time until you can retire!まだリタイアまで時間がある")

You have a long time until you can retire!まだリタイアまで時間がある

## 57

In [97]:
age = input("Entet your age:")

int_age = int(age)

if int_age < 21:
    print("you are yongu!")
else:
    print("Wow, you are old!")

Wow, you are old!

In [98]:
# 遊び inputで入力されたデータはstr型なのでそのまま比較演算子に突っ込めるのか。
age = input("Entet your age:")

#int_age = int(age)

#if int_age < 21:
if age < 21:
    print("you are yongu!")
else:
    print("Wow, you are old!")

TypeError: '<' not supported between instances of 'str' and 'int'

In [105]:
## str型では比較演算子は使えない、コメントアウトを外すとエラーになる

x = 10
x = str(x)

#if x < 5:
#    print("5より大きい")
#else:
#    print("5以下")

print(x)
type(x)

10

str

# 60 必須引数とオプション引数の各順番を逆にしたらエラーはでるのか

In [108]:
#まずは正解というか本通りのコード

def add_it(x, y=10):
    return x + y

result = add_it(2)
print(result)

12

In [110]:
# 逆Ver　　　シンタックスエラー　つまり文法エラーが出る。

def add_it(y=10 , x):
    return x + y

result = add_it(2)
print(result)

SyntaxError: non-default argument follows default argument (2135808877.py, line 3)

## 63 例外処理
ユーザーから２つの数値を入力してもらい、１つ目の数字を２つ目の数字で割った結果を出力するというプログラムを書くとする

In [113]:
a = input("数値を入力してください。")
b = input("別の数値を入力してください。")
a = int(a)
b = int(b)

print(a / b)

7.5

上記のこのコードは一見期待通りに動作すると思われるが、ユーザーが２つ目の数値を０と入力すると問題が起きる

このような時に例外処理を行う。使うキーワードは tryとexceptのセットを使う！！
起こる可能性があるエラーを指定して、そのエラーが発生する代わりに、テキストメッセージを表示する。

In [116]:
a = input("数値を入力してください。")
b = input("別の数値を入力してください。")
a = int(a)
b = int(b)

try:
    print(a / b)
except ZeroDivisionError:
    print("2つ目の値に0を入れないで")

2つ目の値に0を入れないで

上記のコードは２つ目の数字に０を入力すると、ZeroDivisionErrorとなり、print("2つ目の値に0を入れないで")が実行される。

だがもしユーザーが整数に変換できない文字列を入力した場合エラーが出てしまう。下記エラー　：ValueError

In [117]:
a = input("数値を入力してください。")
b = input("別の数値を入力してください。")
a = int(a)
b = int(b)

try:
    print(a / b)
except ZeroDivisionError:
    print("2つ目の値に0を入れないで")

ValueError: invalid literal for int() with base 10: 'aaa'

このエラーを回避するにはユーザーからの入力をtry節内に移動して、except文の回避するエラー内容を追加すればいい

なぜtry節内に移動させるかというと、ValueError　が発生するのは　int()の中にユーザーが入力して文字列が入った瞬間だからだ、
つまり　input() のところは入れなくても問題ないと推測する

In [119]:
try:
    a = input("数値を入力してください。")
    b = input("別の数値を入力してください。")
    a = int(a)
    b = int(b)
    print(a / b)
except (ZeroDivisionError, ValueError):
    print("無効な入力です")

無効な入力です

In [123]:
# テスト


a = input("数値を入力してください。")
b = input("別の数値を入力してください。")
try:
    a = int(a)
    b = int(b)
    print(a / b)
except (ZeroDivisionError, ValueError):
    print("無効な入力です")


#　推測　当たり

無効な入力です

## 69 チャレンジ

In [171]:
# Q1


def Q1():
    '''
    Returns input(a) ** 2
    :param a: int. 
    :return : int. input(a) ** 2

    '''
    a = input("入力された数字の2乗の値を返すよ。")
    a = int(a)
    print(a ** 2)

Q1()

25

In [182]:
#Q1 answer
def squared(x):
    """ Takes an int and returns it multiplied by 2.
    :param x: int.
    :return: x multiplied by 2.
    """
    return x ** 2
print(squared(2))

4

In [166]:
# Q2

def Q2():
    """
    Retures input(x)
    :param x : str.
    :return : str. input(x)
    
    """
    x = input("文字くれ")
    print(x)

Q2()

as

In [179]:
# Q2 answer
def print_string(string):
    """ Prints the string passed in.
    :param string: str.
    """
    print(string)

print_string("Testing: 1, 2, 3.")

Testing: 1, 2, 3.

In [184]:
# Q3

def Q3(a, b, c, d=100, e=1000):
    """
    Returns a + b + c * d * e
    :param a: int. or float.
    :param b: int. or float.
    :param c: int. or float.
    :param d: int. or float.
    :param e: int. or float.
    :return: int. sum of a and b and c and d and e
    """
    print(a + b + c * d * e)

Q3(10, 15, 25 )

2500025

In [183]:
# Q3 answer
def add_mult(a,b,c,x=100,z=1000):
    """ Returns the result of two optional params
    multiplied by the addition of 3 required params.
    :param a: int.
    :param b: int.
    :param c: int.
    :param x: int.
    :param z: int.
    :return: int.
    """
    return a + b + c * x * z
result = add_mult(10, 15, 25)
print(result)

2500025

In [177]:
# Q4

def waruni(a):
    """
    Returns a / 2
    :param a: int
    :return: int.  quotient of a and 2
    """
    a = int(a)
    return a / 2

def kakeyon(b):
    """
    Returns b * 4
    :param b: int
    :return: int. product of b and 4
    """
    b = int(b)
    return b * 4

result = waruni(10)
kakeyon(result)

20

In [ ]:
# Q4 answer
def divide(x):
    return x / 2


def multiply(x):
    return x * 4

y = divide(4)
z = multiply(y)

print(z)

In [186]:
# Q5

def refo(f):
    """
    Returns float(f)
    :param f: str.
    :return: float. float converted of f
    """
    f = float(f)
    print(f) 

try:
    f = input("文字")
    refo(f)
except (TypeError, NameError, SyntaxError, ValueError):
    print("数字を入れてね")

55.0

In [185]:
# Q5 answer
def convert(string):
    """ Converts passed in str to int.
    :param string: str.
    :return: string converted to int.
    """
    try:
        return float(string)
    except ValueError:
        print("Could not convert the string to a float.")

c = convert("55.0")
print(c)

55.0

# 80 辞書型

In [5]:
fruits = {"apple":"red",
          "banana":"yellow"}

fruits

{'apple': 'red', 'banana': 'yellow'}

In [3]:
fruits["banana"]

'yellow'

In [6]:
fruits["red"]

KeyError: 'red'

# 86

In [16]:
ny = {
    "座標": (100, 100),

    "セレブ":[
        "aさん",
        "bさん",
        "cさん"],

    "事実":{
        "州":"ニューヨーク",
        "国":"アメリカ" }
}

print(ny["事実"]["国"])

アメリカ

# 87 チャレンジ

In [1]:
# Q1

like_musicians = ["ヨアソビ",
                  "Reol",
                  "マネスキン"]

In [ ]:
# Q1 answer

fav_musicans = ["Jay Z", "Adventure Club", "John Lennon"]

In [4]:
# Q2

travel = [(49.3023, -123.10749),
          (43.0352, 141.2049)]

In [ ]:
# Q2 answer

locations = [(40.7128, 74.0059), (31.0461, 34.8516), (8.3405, 115.0920)]

In [5]:
# Q3

me = {
    "身長":"175",
    "好きな色":"黒",
    "好きな作家":"コビー"
}

In [ ]:
# Q3 answer

me = {
    "height": "6",
    "fav_color": "red",
    "fav_author": "Orwell"
}

In [7]:
# Q4

x = input("身長、好きな色、好きな作家、のどれかを入力してね。")

print(me[x])

黒

In [ ]:
# Q4 answer

me = {
    "height": "6",
    "fav_color": "red",
    "fav_author": "Orwell"
}

answer = input("Type height, fav_color or fav_author")
if answer in me:
    result = me[answer]
    print(result)

In [8]:
# Q5

music_list = {
    "ヨアソビ":"アイドル",
    "Reol":"Boy",
    "マネスキン":"GOSSIP"
}

In [ ]:
# Q5 answer

songs = {"John Lennon": "Stand by Me",
         "Kanye West": "Homecoming",
         "Swedish House Mafia": "Don't You Worry Child"
}

#　Q6
setとは順序がなく、重複する要素を持たないミュータブルのコンテナです。
{}を使用して作成され、一意性(重複する要素を持たない)を保ちたい時に使われる.集合演算の時にも使われる。
要素の追加は、add が使用される。　変数名.add("追加したいデータ")
要素の削除は、removeが使用される。 変数名.remove("削除したいデータ")
要素の確認は、inが使用される。　print("確認指定データ" in サーチしたい変数名)